<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
	<div>
		<blockquote class="layui-elem-quote quoteBox">
			<div class="layui-form">
				<input type="hidden" id="roleId" th:value="${roleId}" />
				<div class="layui-inline" style="float: right;">
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="username"
							style="font-size: 12px" placeholder="请输入用户名称" autocomplete="off" />
					</div>
					<button type="button" class="layui-btn search_btn">
						<i class="layui-icon layui-icon-search" aria-hidden="true"></i>搜索
					</button>
				</div>
				<div class="layui-inline">
					<button type="button" class="layui-btn addNews_btn">
						<i class="layui-icon layui-icon-add-1" aria-hidden="true"></i>批量添加
					</button>
				</div>
			</div>
		</blockquote>
		<table id="roleUserList" lay-filter="roleUserList"></table>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/system/role/addUsers.js"></script>
</body>
</html>