<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/css/plugins/zTree/bootstrapStyle/bootstrapStyle.css"
	rel="stylesheet" />
<body class="gray-bg">
	<div style="padding: 20px;">
		<form class="layui-form" style="width: 80%;" id="roleform"
			lay-filter="roleform">
			<input id="roleId" name="roleId" th:value="${role.roleId}"
				type="hidden">
			<div class="layui-form-item">
				<label class="layui-form-label">角色名称</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" id="rolename"
						name="rolename" lay-verify="required" autocomplete="off"
						th:value="${role.rolename}" placeholder="请输入角色名称" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">说明</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" id="note" name="note"
						autocomplete="off" th:value="${role.note}"
						placeholder="请输入说明" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">菜单</label>
				<div class="layui-input-block">
					<ul id="treeMenu" class="ztree"></ul>
				</div>
			</div>
			<div class="layui-form-item layui-row layui-col-xs12">
				<div class="layui-input-block">
					<button class="layui-btn layui-btn-sm" lay-submit=""
						lay-filter="saverole">保存</button>
					<button type="reset"
						class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/plugins/zTree/jquery.min.js"></script>
	<script type="text/javascript"
		src="/js/plugins/zTree/jquery.ztree.core.min.js"></script>
	<script type="text/javascript"
		src="/js/plugins/zTree/jquery.ztree.excheck.min.js"></script>
	<script src="/js/appjs/system/role/edit.js"></script>
	</script>
</body>
</html>
