<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div style="padding: 20px;">
		<form class="layui-form" style="width: 80%;" id="menuform">
			<input type="hidden" id="deleteflag" name="deleteflag" value="1" />
			<input type="hidden" id="menuId" name="menuId" /> <input
				id="parentId" name="parentId" type="hidden" th:value="${pId}">
			<div class="layui-form-item">
				<label class="layui-form-label">上级菜单</label>
				<div class="layui-input-block">
					<input id="pName" name="pName" class="layui-input" type="text"
						th:value="${pName}" readonly>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">菜单类型</label>
				<div class="layui-input-block">
					<input type="radio" name="menutype" value="0" title="目录" checked="">
					<input type="radio" name="menutype" value="1" title="菜单"> <input
						type="radio" name="menutype" value="2" title="按钮">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">菜单名称<i style="color: red;">*</i></label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" id="menuname"
						name="menuname" autocomplete="off" lay-verify="required"
						placeholder="请输入菜单名称" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">地址</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" id="menuurl" name="menuurl"
						autocomplete="off" placeholder="请输入地址" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">权限标识</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" id="menuperms"
						name="menuperms" autocomplete="off" placeholder="请输入权限标识" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">顺序</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" id="ordernum" value="0"
						name="ordernum" autocomplete="off" placeholder="请输入顺序" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">图标</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" id="menuicon"
						style="width: 80%; display: inline-block;" name="menuicon"
						autocomplete="off" placeholder="请点击选择图标" /> <input type="button"
						class="layui-btn layui-btn-sm" value="其他图标" id="btnOtherIcon" />
				</div>
			</div>
			<div class="layui-form-item layui-row layui-col-xs12">
				<div class="layui-input-block">
					<button class="layui-btn layui-btn-sm" lay-submit=""
						lay-filter="savemenu">保存</button>
					<button type="reset"
						class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script src="/js/appjs/system/menu/add.js"></script>
</body>
</html>
