<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body>
	<div>
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_remove_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="system:dept:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="system:dept:remove">
			<script type="text/javascript">
				var s_remove_h = '';
			</script>
		</div>
	</div>
	<div style="height: 100%;">
		<blockquote class="layui-elem-quote quoteBox">
			<div class="layui-form">
				<div class="layui-inline" style="float: right;">
					<div class="layui-input-inline">
						<input type="text" class="layui-input" id="searchName"
							style="font-size: 12px" placeholder="请输入部门名称" autocomplete="off" />
					</div>
					<button type="button" class="layui-btn search_btn">
						<i class="layui-icon layui-icon-search" aria-hidden="true"></i>搜索
					</button>
				</div>
				<div class="layui-inline">
					<button shiro:hasPermission="system:dept:add" type="button"
						class="layui-btn addNews_btn">
						<i class="layui-icon layui-icon-add-1" aria-hidden="true"></i>新增
					</button>
				</div>
				<div class="layui-inline">
					<button shiro:hasPermission="system:dept:batchRemove" type="button"
						class="layui-btn layui-btn-danger delAll_btn">
						<i class="layui-icon layui-icon-delete" aria-hidden="true"></i>批量删除
					</button>
				</div>
				<div class="layui-inline">
					<button shiro:hasPermission="system:dept:changeOrder" type="button"
						class="layui-btn layui-btn-normal order_btn">
						<i class="layui-icon layui-icon-set" aria-hidden="true"></i>顺序调整
					</button>
				</div>
			</div>
		</blockquote>
		<table id="deptList" lay-filter="deptList" class="layui-hidden"></table>
	</div>
	<div th:include="include :: footer"></div>
	<script src="/js/appjs/system/dept/dept.js"></script>
	<script type="text/html" id="deptListBar">
      	{{# 
			var gfun=function(pstatus){
				var html="";
				html +="<a class='layui-btn layui-btn-xs "+s_edit_h + "' lay-event='edit'>编辑</a>";
				html +="<a class='layui-btn layui-btn-xs layui-btn-danger "+ s_remove_h + "' lay-event='del'>删除</a>";
				return html;
			};
		}}
		{{ gfun() }}
	</script>
</body>
</html>