<!DOCTYPE html>
<html>

<meta charset="utf-8">
<head>
<link href="/css/plugins/zTree/bootstrapStyle/bootstrapStyle.css"
	rel="stylesheet" />
</head>

<body class="gray-bg">
	<div>
		<ul id="treeMenu" class="ztree"></ul>
		<input type="hidden" class="layui-input" id="parentId"
			th:value="${parentId}" />
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/plugins/zTree/jquery.min.js"></script>
	<script type="text/javascript"
		src="/js/plugins/zTree/jquery.ztree.core.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			zhouliMenu.loadMenu();
		});
		var setting = {
			callback : {
				onClick : zTreeOnClick,
				beforeClick : zTreebeforeClick
			},
			check : {
				enable : false
			},
			data : {
				simpleData : {
					enable : true,
					idKey : "deptId",
					pIdKey : "parentId",
					rootPId : "0"
				},
				key : {
					name : "deptname"
				}
			}
		};
		var zhouliMenu = {
			//加载菜单
			loadMenu : function() {
				$.get("/system/dept/list", {
					sort : 'ordernum',
					page : 1,
					limit : -1
				}, function(data) {
					if (data && data.code == 0) {
						//绑定zTree
						$.fn.zTree.init($("#treeMenu"), setting, data.rows);
						//展开所有节点
						$.fn.zTree.getZTreeObj("treeMenu").expandAll(true);
					}
				});
			},
			getZtreeObj : function() {
				return $.fn.zTree.getZTreeObj("treeMenu");
			}
		};
		function zTreeOnClick(event, treeId, treeNode) {
			layer.closeAll("iframe");
			var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
			parent.layer.close(index);
			parent.loadDept(treeNode.deptId, treeNode.deptname);
		}
		function zTreebeforeClick(treeId, treeNode, clickFlag) {
			var parentId = $("#parentId").val();
			if (parentId != "") {
				if (treeNode.deptId === parentId) {
					layer.msg("不能选择自己！");
					return false;
				}
			}
			return true;
		}
	</script>
</body>

</html>
