<!DOCTYPE html>
<html>

<meta charset="utf-8">
<head th:include="include :: header">
<link href="/css/plugins/zTree/bootstrapStyle/bootstrapStyle.css"
	rel="stylesheet">
</head>

<body class="gray-bg">
	<div>
		<ul id="treeMenu" class="ztree"></ul>
	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/plugins/zTree/jquery.min.js"></script>
	<script type="text/javascript"
		src="/js/plugins/zTree/jquery.ztree.core.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			getTreeData()
		});
		var setting = {
			view : {
				selectedMulti : false,
				showTitle : true
			},
			check : {
				enable : false
			},
			data : {
				simpleData : {
					enable : true
				},
				key : {
					name : "MenuName",
					idKey : "MenuId",
					pIdKey : "ParentMenuId"
				}
			}
		};
		var zhouliMenu = {
			//加载菜单
			loadMenu : function() {
				$.get("/system/dept/getdepttreelist", function(data) {
					console.log(data);
					//绑定zTree
					$.fn.zTree.init($("#treeMenu"), setting, data.JsonData);
					//展开所有节点
					$.fn.zTree.getZTreeObj("treeMenu").expandAll(true);
				});
			},
			getZtreeObj : function() {
				return $.fn.zTree.getZTreeObj("treeMenu");
			}
		};
	</script>
</body>

</html>
