<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div style="padding: 20px;">
		<form class="layui-form" style="width: 80%;" id="deptform"
			lay-filter="deptform">
			<input id="deptId" name="deptId" th:value="${dept.deptId}"
				type="hidden">
			<div class="layui-form-item">
				<label class="layui-form-label">部门名称<i style="color: red;">*</i></label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" id="deptname"
						name="deptname" lay-verify="required" autocomplete="off"
						th:value="${dept.deptname}" placeholder="请输入部门名称" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">描述</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" id="deptdesc"
						name="deptdesc" autocomplete="off" th:value="${dept.deptdesc}"
						placeholder="请输入描述" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">上级部门</label>
				<div class="layui-input-block">
					<input type="hidden" class="layui-input" id="parentId"
						name="parentId" /> <input type="text" class="layui-input"
						id="pdeptname" value="0" name="pdeptname" autocomplete="off"
						placeholder="请选择上级部门" th:value="${pdeptName}" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">顺序</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" id="ordernum"
						name="ordernum" autocomplete="off" th:value="${dept.ordernum}"
						placeholder="请输入顺序" />
				</div>
			</div>
			<div class="layui-form-item layui-row layui-col-xs12">
				<div class="layui-input-block">
					<button class="layui-btn layui-btn-sm" lay-submit=""
						lay-filter="savedept">保存</button>
					<button type="reset"
						class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script src="/js/appjs/system/dept/edit.js"></script>
	</script>
</body>
</html>
