<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div style="padding: 20px;">
		<form class="layui-form" style="width: 80%;" id="${classname}form">
			<input type="hidden" id="deleteflag" name="deleteflag" value="1" />
			<input type="hidden" id="${pk.attrname}" name="${pk.attrname}"/>
			#foreach($column in $columns)
				#if($column.columnName != $pk.columnName)
					<div class="layui-form-item">
						<label class="layui-form-label">${column.comments}</label>
						<div class="layui-input-block">
							<input type="text" class="layui-input" id="${column.attrname}"
								name="${column.attrname}" lay-verify="required" autocomplete="off"
								placeholder="请输入${column.comments}" />
						</div>
					</div>
				#end
			#end
			<div class="layui-form-item layui-row layui-col-xs12">
				<div class="layui-input-block">
					<button class="layui-btn layui-btn-sm" lay-submit=""
						lay-filter="save${classname}">保存</button>
					<button type="reset"
						class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script src="/js/requiremain.js"></script>
	<script src="/js/plugins/require/require.js"
		data-main="/js/appjs/${pathName}/${classname}/add.js"></script>
</body>
</html>
