var prefix = "/${pathName}/${classname}";

require.config({
	paths : {}
});
require(
		[ "jquery", 'layui' ],
		function($) {
			layui
					.use(
							[ 'form', 'layer', 'table', 'laytpl' ],
							function() {
								var form = layui.form, layer = parent.layer === undefined ? layui.layer
										: top.layer, $ = layui.jquery, laytpl = layui.laytpl, table = layui.table;
								// 用户列表
								var tableIns = table
										.render({
											elem : '#${classname}List',
											url : prefix + "/list",
											cellMinWidth : 95,
											page : true,
											even : true,
											height : "full-120",
											limits : [ 5, 10, 15, 20, 25 ],
											limit : 5,
											id : "${classname}ListTable",
											done : function(res, curr, count) {
											},
											cols : [ [
													{
														type : "checkbox",
														fixed : "left",
														width : 50
													},
													#foreach($column in $columns)
													{
														field : '${column.attrname}', 
														title : '${column.comments}',
														align : "center"
													},
													#end
													{
														title : '操作',
														width : 120,
														templet : '#${classname}ListBar',
														fixed : "right",
														align : "center"
													} ] ]
										});
								;
								$(".search_btn").on(
										"click",
										function() {
											table.reload("${classname}ListTable", {
												page : {
													curr : 1
												},
												where : {
													searchName : $("#searchName")
															.val()
												}
											});
										});
								$(".addNews_btn").click(function() {
									addData();
								});
								$(".delAll_btn")
										.click(
												function() {
													var checkStatus = table
															.checkStatus('${classname}ListTable'), data = checkStatus.data, ArrayData = [];
													if (data.length > 0) {
														for ( var i in data) {
															ArrayData
																	.push(data[i].${pk.attrname});
														}
														layer
																.confirm(
																		'确定删除选中的记录？',
																		{
																			icon : 3,
																			title : '提示信息'
																		},
																		function(
																				index) {
																			$
																					.post(
																							prefix
																									+ "/batchRemove",
																							{
																								ids : ArrayData
																							},
																							function(
																									res) {
																								layer
																										.msg(res.msg);
																								layer
																										.close(index);
																								if (res.code == 0) {
																									tableIns
																											.reload();
																								}
																							});
																		});
													} else {
														layer.msg("请至少选择一条记录！");
													}
												});
								function addData() {
									var index = layui.layer.open({
										title : "添加用户",
										type : 2,
										content : prefix + "/add",
										area : [ "600px", "400px" ]
									});
								}
								;
								function editData(id) {
									var index = layui.layer.open({
										title : "编辑用户",
										type : 2,
										content : prefix + "/edit/" + id,
										area : [ "600px", "400px" ]
									});
								}
								;
								function del(id) {
									layer.confirm('确定删除此用户？', {
										icon : 3,
										title : '提示信息'
									}, function(index) {
										$.post(prefix + "/remove", {
											${pk.attrname} : id
										}, function(res) {
											layer.msg(res.msg);
											layer.close(index);
											if (res.code == 0) {
												tableIns.reload();
											}
										});
									});
								}
								;
								table.on('tool(${classname}List)', function(obj) {
									var layEvent = obj.event, data = obj.data;
									switch (layEvent) {
									case "edit":
										editData(data.${pk.attrname});
										break;
									case "del":
										del(data.${pk.attrname});
										break;
									}
								});
							});
		});
