<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div style="padding: 20px;">
		<form class="layui-form" style="width: 80%;" id="userform">
			<div class="layui-form-item">
				<input type="hidden" id="userId" name="userId"> <input
					type="hidden" id="deleteflag" name="deleteflag" value="1">
				<label class="layui-form-label">用户名<i style="color: red;">*</i></label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" id="username"
						name="username" lay-verify="required|username" autocomplete="off"
						placeholder="请输入用户名" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">昵称</label>
				<div class="layui-input-block">
					<input type="text" class="layui-input" id="usernikename"
						autocomplete="off" name="usernikename" placeholder="请输入昵称" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">状态</label>
				<div class="layui-input-block">
					<input type="hidden" id="userstatus" name="userstatus" value="1" />
					<input type="checkbox" lay-skin="switch" lay-text="正常|停用"
						lay-filter="userstatus" checked="" />
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">密码<i style="color: red;">*</i></label>
				<div class="layui-input-block">
					<input type="password" class="layui-input" id="userpwd"
						name="userpwd" autocomplete="off" lay-verify="required"
						placeholder="请输入密码" />
				</div>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<input type="checkbox" name="like[write]" lay-skin="primary"
						title="默认密码(111111)" lay-filter="cbxPwd" />
				</div>
			</div>
			<div class="layui-form-item layui-row layui-col-xs12">
				<div class="layui-input-block">
					<button class="layui-btn layui-btn-sm" lay-submit=""
						lay-filter="addUser">保存</button>
					<button type="reset"
						class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
				</div>
			</div>
		</form>
	</div>
	<div th:include="include::footer"></div>
	<script src="/js/requiremain.js"></script>
	<script src="/js/plugins/require/require.js"
		data-main="/js/appjs/sys/user/add.js"></script>
</body>
</html>
